@model IEnumerable<EntityModel.BasketMaster>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BasketName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SKUID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BasketName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SKUID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BasketID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BasketID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BasketID })
        </td>
    </tr>
}

</table>
